@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.fira-sans-font {
  font-family: "Fira Sans", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
  margin: 0;
  padding: 0;
}

/* Header Navigation Style */
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 160px;
}

.nav-heading{
  font-size: 32px;
  font-weight: bold;
  color: #0E0E0E;
}

.nav-btn{
  padding: 15px 30px;
  border: 1px solid #006a50;
  border-radius: 8px;
  color: #006A50;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.nav-btn:hover{
  background-color: white;
}

/* Header Banner Styles */

#banner{
  background-color: #C6E4D6;
  margin: 0 160px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 80px;
}

.banner-image{
  max-width: 60%;
}

.banner-subheading{
  font-size: 20px;
  font-weight: 500;
  color: #0E0E0E80;
  margin-bottom: 15px;
}

.banner-title{
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
  margin-bottom: 20px;
}

.banner-btn{
  padding: 17px 34px;
  background-color: #006A50;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.banner-btn:hover{
  background: #069743;
}
/* Shared Styles */

.section-style{
  margin: 80px 160px;
}

.vision-description,
.news-main-description
{
  color: #0E0E0EB3;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}
/* Main Section Style */

/* Pillar Section */

.section-title{
  color: #0E0E0E;
  font-size: 40px;
  margin: 32px 0;
}
.pillar-items{
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
}

.pillar-item{
  padding: 18px;
  box-shadow: 0px 6px 50px 0px #d0ceceb3;
  border: 1px solid #0e0e0e26;
  border-radius: 16px;
}

.pillar-item > img{
  margin-bottom: 15px;
}

.pillar-item-title{
  margin-bottom: 15px;
  font-size: 20px;
  color: #0E0E0ECC;
}

.pillar-item-description{
  color: #0E0E0EB3;
  font-size: 16px;
}

/* The vision Section Style */
.vision-items{
  display: flex;
  gap: 24px;
}

.vision-img{
  margin-bottom: 15px;
}

.vision-item-title{
  color: #0E0E0ECC;
  font-size: 20px;
  margin-bottom: 15px;
}

.vision-item-description{
  color: #0E0E0EB3;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.item-list1, .item-list2, .item-list3{
  padding: 32px;
  border-radius: 16px;
}

.item-list1{
  background-color: #5490F533;
}

.item-list2{
  background-color: #C6E4D6;
}

.item-list3{
  background-color: #F7EBCF;
}

/* Vission Section Button */
.item-list1 > button,
.item-list2 > button,
.item-list3 > button{
  padding: 11px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.item-list1 > button{
  background-color: #5490F5;
}
.item-list1 > button:hover{
  background-color:#6899ee
}

.item-list2 > button{
  background-color: #09A15C;
}
.item-list2 > button:hover{
  background-color: #19c175;
}

.item-list3 > button{
  background-color: #FFC239;
}
.item-list3 > button:hover{
  background-color: #ac7d10;
}

/* Bio Section Style */
.personal-bio{
  border: 1px solid #0e0e0e26;
  border-radius: 16px;
  padding: 48px 24px;
  box-shadow: 0px 6px 50px 0px #d0ceceb3;
}

.bio-description{
  font-size: 16px;
  font-weight: 400;
  color: #0E0E0ECC;
  margin-bottom: 15px;
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.bio-title{
  font-size: 20px;
  color: #0E0E0ECC;
}

.bio-subheading{
  font-size: 14px;
  font-weight: 400;
  color: #0E0E0E99;
}

/* Opinion Table style */
.opinion-table{
  padding: 32px;
  box-shadow: 0px 6px 50px 0px #d0ceceb3;
  border-radius: 16px;
  border-collapse: collapse;
}

.opinion-table th {
  background-color: #c6e4d6;
  padding: 24px;
  text-align: left;
  font-size: 20px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  color: #0E0E0E;
}
.opinion-table td {
  padding: 12px;
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: 600;
  color: #0E0E0E;
}

.opinion-table select {
  background-color: #c6e4d6;
  padding: 10px 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 16px;
  color: #0E0E0E;
  cursor: pointer;
  font-weight: 600;
}
/* News Section Style */
.new-sub-section{
  display: flex;
  justify-content: space-between;
  gap: 32;
  padding: 48px;
  box-shadow: 0px 6px 50px 0px #d0ceceb3;
  border-radius: 24px;
}

.news-img{
  border-radius: 24px;
  margin-right: 30px;
}

.news-img2{
  border-radius: 24px;
  margin-left: 30px;
}

.news-heading{
  font-size: 32px;
  color: #0E0E0ECC;
  margin-bottom: 12px;
}

.date-time{
  font-size: 16px;
  color: #0E0E0EB3;
  margin: 12px 0;
}

.news-description{
  color: #0E0E0EB3;
  font-size: 16px;
  margin-bottom: 60px;
  text-align: justify;
}

.news-details > button{
  background-color: #006A50;
  padding: 13px 26px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.news-details > button:hover{
  background-color: #04b387;
}